

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 450;
   line-height: 1.6em;
   font-size: 1.3em;
   color: teal;
   background-color: #222222;
}

h3 {
  color: #098762;
}

a {
    color:#9765f9;
}

input {
  font-size: 1.5em;
}

.container {
  margin:auto;
  margin:50px;
}

ul {
  padding-left: 20px;
}

li {
  display: inline;
}

.delete-note-link {
  color:red;
}

.note {
  background-color: #dddddd;
  width: 300px;
  margin: 15px;
  padding: 15px;
}

.list-container {
  background-color: #444444;
  margin: 15px;
  padding: 15px;
}

#lists-container {
  background-color: teal;
  width: 1300px;
  margin: 15px;
  padding: 15px;

}

